---
    interface Props{
    id: number;
    image: string;
    title: string;
    category: string;
}
const {id, image,title,category} = Astro.props;

import {Image} from 'astro:assets';

---

<div class="project">
    <Image src={image} alt="projects" inferSize={true}/>
    <h3>{title}</h3>
    <p>{category}</p>
</div>